* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    scroll-behavior: smooth;
}
.no-scroll {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.no-display {
    display: none;
}

.preloader img {
    width: 25vw;
}

.replyedComment {
    outline: 1em solid black;
}

.hidden {
    visibility: hidden;
}

.marginned {
    transform: translateY(12vh);
}

header {
    display: flex;
    width: 100vw;
    background-color: #ffffffff;
    z-index: 1000;
}

.anchor {
    display: block;
    position: relative;
    top: -7em;
}

.margin {
    margin: 0 5%;
}



nav {
    margin: 2% 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-links-container {
}

.nav-item {
    height: 100%;
    display: inline;
    margin: 0 2.5vw;
}

.nav-link {
    text-transform: uppercase;
    color: #626262;
    font-family: 'Times New Roman';
}

.company {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: black;
    font-size: 1.5em;
    letter-spacing: 0.15em;
}

h3 {
    color: #B4AD9E;
    font-family: sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #626262;
    font-size: 2em;
    font-weight: 100;
    font-family: 'Times New Roman';
}
h4 {
    color: black;
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-family: 'Times New Roman';
}

input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
}

.bottom-line {
    padding: 0.5em 0;
    box-shadow: 0 1.5px 0 #000;
}

.black-text {
    color: black;
}

p {
    font-family: 'Times New Roman';
    text-align: justify;
    color: #808080;
}

.gray-text {
    color: #808080;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.image-thumbnail {
    width: 100%;
    height: 20em;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-img {
    width: 100%;
    height: 50%;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .images img {
        margin: 1em 0;
    }

.post-item {
    width: 28em;
    margin: 2%;
    transition: 250ms;
    padding: 0.8em;
    cursor: pointer;
}


    .post-item:hover {
        transition: 250ms;
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    }

    .post-item:active {
        transition: 250ms;
        box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.75);
    }

    .post-item *:not(.image-thumbnail), .main-post-item *:not(.promo-img) {
        margin-top: 2vh;
    }
.cursor-pointer {
    cursor: pointer;
}
.margin-top {
    margin-top: 2vh;
}

.background-gray {
    background-color: #F0F0F0;
}



footer {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
}

    footer nav {
        width: 100%;
    }

.email-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
}

    .email-singup .wrapper {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 20vh;
    }


.padding-to-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.btn {
    background: none;
    border: 0.15em solid gray;
    padding: 1em 2em;
    font-family: 'Times New Roman';
    color: gray;
    transition: 200ms;
}

    .btn:hover {
        transition: 200ms;
        border: 0.15em solid #AC5A1E;
        color: #AC5A1E;
    }

.share-bar {
    color: gray;
    display: flex;
    justify-content: right;
    padding: 5vh 0;
}

    .share-bar a {
        color: gray;
    }

        .share-bar a:hover {
            transition: 200ms;
            color: #F6C691;
        }

.vertical-ul li {
    margin: 0 0.5em;
    display: inline;
}

.share-item {
    font-size: 1.4em;
}

.gray-title {
    text-transform: uppercase;
}

.also-like {
    padding: 5%;
}

    .also-like .posts-container {
        justify-content: center;
        margin: 5vh 0;
    }

    .also-like .post-item {
        width: 20em;
        margin: 1%;
        padding: 1em;
    }

        .also-like .post-item .image-thumbnail {
            width: 100%;
            height: 25vh;
        }

    .also-like .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

.fixed {
    position: fixed;
}

.comments {
    padding: 6vh 0;
}

.comments-container {
}
.flex {
    display: flex;
}
.comment-item {
    margin: 2em 0;
    padding: 1em;
    background-color: #F0F0F0;
}
input {
    background-color: white;
}
.avatar {
    width: 6em;
    height: 6em;
    margin-right: 2em;
    border-radius: 50%;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.avatar span {
    font-size: 3em;
    color: snow;
}

.flex-column {
    display: flex;
}

.text {
    width: 70vw;
}

.reply {
    transition: 100ms;
    border: 0;
    background: none;
    color: #B4AD9E;
    margin-top: 2em;
    outline: none;
    text-transform: uppercase;
}

    .reply:hover {
        transition: 100ms;
        color: black;
    }

    .reply:active {
        transition: 100ms;
        color: yellowgreen;
    }

form * {
    display: block;
    margin: 1em 0;
}

form input[name='authorName'] {
    border: 2px solid #EDEDEB;
    padding: 1em;
    width: 100%;
    border-radius: 0.5em;
}

textarea {
    border: 2px solid #EDEDEB;
    padding: 1em;
    outline: none;
    width: 100%;
    border-radius: 0.5em;
}

button[type='submit'] {
    padding: 1em 5em;
    border-radius: 0.5em;
    border: 2px solid #EDEDEB;
    background: #B6E7A2;
    font-size: 1.2em;
}

    button[type='submit']:hover {
        padding: 1em 5em;
        border-radius: 0.5em;
        border: 2px solid #94DD8E;
        background: #94DD8E;
    }

    button[type='submit']:active {
        padding: 1em 5em;
        border-radius: 0.5em;
        border: 2px solid #8ED678;
        background: #8ED678;
    }

.post {
    width: 100%;
    display: flex;
    transition: 1s;
    
}
.post-wrapper {
    margin: 0 5%;
}
.content-wrapper {
    width: 80%;
    transition: 1s;
    display: flex;
    justify-content: center;
}

.fixed-width {
    width: 80em;
}
.sidebar-wrapper {
    position: relative;
    background-color: red;
    width: 20%;
}

.sidebar-wrapper-hidden {
    right: -20%;
}
.full-screen {
    width: 100%;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 80vh;
}
.sidebar-btn {
    position: relative;
    z-index: 100;
    width: 2em;
    height: 5em;
    top: 40vh;
    left: -2em;
    background-color: blue;

}

.flex-left {
    justify-content: left;
}
.dotted-list {
    color: gray;
    margin: 1em;
    overflow: visible;
}
.dotted-list li {
    list-style-type: disc;
    overflow: visible;
}
.dotted-list * {
    margin: 1em 0;
}
small {
    font-size: 0.8em;
}
img {
    width: 100%;
}
.collapsed {
    visibility:collapse;
}
.loading-spinner {
    margin: 2em auto;
    width: 5em;
}